.detail-background {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 1%;
  background-color: var(--color-marron-claro);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-height: 850px;
  overflow: auto;
}
.detail-background span {
  color: var(--color-claro);
  font-weight: 500;
  font-size: 18px;
}
.detail-background h2 {
  color: var(--color-marron);
  font-weight: 700;
  font-size: 35px;
  text-decoration: underline;
}
.detail-background h1 {
  color: var(--color-marron);
  font-weight: bolder;
  font-size: 35px;
}
.detail-conteiner {
  display: flex;
  flex-direction: row;
}

.detail-left {
  padding: 10px;
}

.detail-right {
  padding: 10px;
}

.detail-img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 250px;
  height: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.detail-foto-puntuacion {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.detail-puntos {
  padding: 10px;
  margin-left: 10px;
}

.detail-puntos h2 {
  font-size: 30px;
}

.detail-puntos span {
  display: table;
  margin: 0 auto;
}
.spandishtype span {
  display: inline;
  margin-left: 4px;
}
.spandishtype {
  padding: 5px;
  margin-left: 15px;
}
@media screen and (max-width: 1000px) {
  .detail-background {
    width: 95%;
    margin-bottom: 60px;
  }
  .spandishtype {
    max-width: 300px;
    overflow: scroll;
  }
  .detail-img {
    max-width: 100%;
    height: auto;
    width: 190px;
    height: 190px;
  }
  .detail-background span {
    font-weight: 400;
  }
}
