.create-recipe {
    width: auto;
    text-align: center;
}

.corret {
    color: green;
    display: inline;
    margin-left: 2%;
    background-color: rgba(233, 227, 227, 0.829);
    padding: 5px;

}

.incorrect {
    color: red;
    display: inline;
    margin-left: 2%;
    background-color: rgba(233, 227, 227, 0.829);
    padding: 5px;
}