.form-principal {
    border: 3px solid black;
    margin-left: 10%;
    margin-top: 3%;
    width: 700px;
    background-color: rgb(223, 152, 22);
}

input {
    border-radius: 25px;

}

input:hover {
    background-color: rgb(235, 198, 130);
}