.form-principal {
  max-width: 1350px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--color-marron-claro);
  border: 3px solid #f9e0bb;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-style: initial;
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 60px;
  margin-top: 2%;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 300;
  color: var(--color-marron);
  font-weight: 600;
  letter-spacing: 2px;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 300;
  color: var(--color-marron);
  font-weight: 500;
}

label {
  margin-bottom: 5px;
  padding: 5px;
  color: var(--color-marron);
  font-weight: 700;
  font-size: 23px;
}

::placeholder {
  margin-bottom: 5px;
  padding: 5px;
  color: var(--color-marron);
  font-weight: 500;
  font-size: 23px;
}

.form-principal input {
  padding: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  width: 220px;
  font-weight: 400;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-claro);
  padding: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.create-recipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.opciones {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.opciones-items {
  display: flex;
  align-items: center;
  padding: 0px;
}
.opciones-items label {
  font-weight: 700;
  font-size: 16px;
  width: 150px;
}

.opciones-items input {
  font-size: 15px;
}

.divisor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contenedor-inputs {
  display: flex;
  flex-direction: column;
}

.contenedor-imagen {
  margin-top: 10px;
  padding: 5px;
}
.cerrar {
  position: relative;
  color: var(--color-marron);
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}
.dish {
  border-radius: 5px;
  padding: 10px;
}
.dish-opciones {
  margin-top: 10px;
  color: var(--color-marron);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .opciones {
    width: auto;
  }
  .divisor {
    flex-direction: column;
  }
  .dish {
    width: auto;
    margin-bottom: 25px;
    text-align: center;
  }
  .opciones-items {
    align-items: center;
    margin-bottom: 5px;
  }
  .opciones-items label {
    font-size: 20px;
  }
  .contenedor-inputs {
    text-align: center;
  }
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  width: 200px;
  height: 140px;
  cursor: pointer;
  text-align: left;
}
