body {
  background-image: url("https://wallpaperaccess.com/full/3086351.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90%;
}
.nopagina {
  margin-top: 10px;
}

.box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 330px;
  margin-left: 40%;
}

.grid {
  position: absolute;
  height: 600px;
  width: 1300px;
  margin-left: 20%;
  margin-top: 0;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box input {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  outline: none;
  height: 55px;
  width: 210px;
  border-radius: 25px 0 0 25px;
  padding: 0 25px;
  color: var(--color-marron);
  background: white;
  font-size: 20px;
  font-weight: 600;
}
.la::placeholder {
  font-size: 20px;
}

.botonhome {
  padding: 15px;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 0 25px 25px 0;
  height: 55px;
  width: 120px;
  background-color: var(--color-crema);
  color: var(--color-marron);
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.botonhome:hover {
  background-color: var(--color-marron);
  color: var(--color-claro);
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
