body{
  background-image: url("https://wallpaperaccess.com/full/3086351.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90%;
}
.nopagina{
   margin-top: 10px;
}
.box{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    margin-left: 40%;
    
}
.home-background{

}
.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 40%;
  
}


.input{
    
    display:inline-block;
    box-sizing: border-box;
    border:none;
    outline : none;
    height: 30px;
    width: 200px;
    border-radius: 25px 0 0 25px;
    padding: 0 25px;

}
.botonhome{
  background-color: rgb(232, 154, 19);
  display:inline-block;
  box-sizing: border-box;
  border:none;
  border-radius: 0 25px 25px 0;
  height: 30px;
  width: 80px;
}


