.cuerpo {
  background-color: rgb(236, 213, 108);
  height: 210px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.card {
  background-color: rgb(236, 213, 108);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 125px;
}

.img {
  width: 100px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 100px;
  border-radius: 50%; /* Esto hace que la imagen sea redonda */
  margin-right: 20px; /* Espacio entre la imagen y el contenido */
}

.info {
  text-align: center;
}

.dietas,
.dishes {
  padding-top: 3px; /* Espacio entre las secciones de dietas y dishes */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.close {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  font-size: small;
  background-color: brown;
  border: brown;
  top: 10px;
  right: 10px;
}
.titulo {
  padding: 2px;
  margin-left: 5px;
  font-size: x-large;
  font-weight: lighter;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.puntuacion {
  padding-top: 5px;
}

.boton {
  height: 15px;
  text-align: center;
  padding-top: 5px;
}
