.cuerpo {
  background-color: var(--color-crema);
  height: 215px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  color: var(--color-marron);
  font-weight: 700;
  border: 2px solid var(--color-marron);
}
.card {
  background-color: var(--color-crema);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  font-weight: 400;
  flex-wrap: wrap;
  align-content: stretch;
  border: 0px;
}
.card-content {
  width: 250px;
}

.img {
  width: 100px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 100px;
  border-radius: 50%; /* Esto hace que la imagen sea redonda */
  border: 2px solid var(--color-marron);
  margin-left: 3px;
}

.info {
  text-align: center;
}

.dietas,
.dishes-card {
  padding-top: 1px; /* Espacio entre las secciones de dietas y dishes */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.titulo {
  text-align: center;
  padding: 2px;
  margin-left: 5px;
  font-size: x-large;
  font-weight: lighter;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.puntuacion {
  margin: 0;
}

.boton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
