.nav {
  background-color: #333;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 85px;
  justify-content: space-around;
  align-items: center;
}

.select-items {
  display: flex;
}
.select-items select,
.select-items option {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 3px solid #666;
  width: 170px;
  font-size: large;
  font-weight: 600;
}

.nav h1,
.nav a {
  margin: 0;
  text-decoration: none;
  color: var(--color-crema);
  font-size: 34px;
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .nav {
    margin: 0;
    padding: 0;
    width: 145px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #333;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
  }
  .select-items select,
  .select-items option {
    width: 137px;
    overflow: scroll;
    margin-bottom: 5px;
  }
  .select-items {
    flex-direction: column;
  }
  .nav h1,
  .nav a {
    margin: 0;
    text-decoration: none;
    color: var(--color-crema);
    font-size: 24px;
    font-weight: 600;
  }
}

@media (min-width: 1000px) and (max-width: 1360px) {
  .nav h1,
  .nav a {
    margin: 0;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
  }
}
