.search-background{
    background-color: blueviolet;
}
.nav{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}
.title-home{
    color:white
}