.paginado {
  display: flex;
  padding-right: 1.3rem;
  height: 250px;
  flex-direction: column;
  justify-content: center;
}

.pagina-btn {
  background-color: rgb(230, 116, 16);
  border: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  height: 50px;
}

.pagina-btn:hover {
  color: white;
}
.nav-paginado {
  position: absolute;
  top: 360px;
  left: 13%;
}
@media screen and (max-width: 1000px) {
  .paginado {
    flex-direction: row;
    height: 50px;
    width: 30px;
  }
  .bpagina {
    margin-right: 7px;
  }
  .nav-paginado {
    margin-left: 35%;
    margin-top: 370px;
  }
}
