.landing-background {
  background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/WVUERN2UUZDXHPHOX6LCBCGAPQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100wh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.title {
  font-size: 80px;
  font-style: italic;
  color: var(--color-crema);
  margin-bottom: 10px;
  border-left: 5px solid var(--color-marron);
  border-right: 5px solid var(--color-marron);
  width: 700px;
}
