  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  img{
    width: 150px;
    height: 100px;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .card{
    
    width: 100%;
    display: block;
    width: 25%;
    height: 300px;
    border: 0.15rem solid #f3efe8ef;
    margin: 1rem;
    border-radius: 2%;
    
  }
  .body{
    display: block;
    justify-content: safe;
    align-items: baseline;
  } 
  
 
  h4{
    font-size: 1rem;
    text-transform: capitalize;
    color: #e4e9e9;
    font-weight: 400;
    text-align: center;
  }
  h2{
    font-size: 1.3rem;
    text-align: center;
    color:white
  }
  .btn{
      background-color: rgb(199, 15, 168);
      color:  white;
      border:none;
      padding: .5em .75em;
      border-radius: .25em;
     
  }
  .btn:hover{
      background-color: rgb(218, 24, 59);
  }
  .btn + .btn{
      margin-left: .50rem;
  }